workflows/00-master-controller.json
{
  "name": "00 - Master Controller",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "master-intake",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "0a1a1a1a-0001-0001-0001-000000000001",
      "name": "Single Entry Point (Webhook)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-1400, 300],
      "webhookId": "master-intake",
      "notes": "Production mein website/WhatsApp isi EK URL par POST karte hain — yeh sab kaam '01-lead-capture' ko delegate karta hai, phir zaroorat ke hisaab se doosre workflows ko chain karta hai. Isse tumhari website ko sirf ek endpoint yaad rakhna padta hai."
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": { "__rl": true, "value": "PASTE_WORKFLOW_01_ID_HERE", "mode": "id" },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "body": "={{ $json.body }}"
          }
        }
      },
      "id": "0a1a1a1a-0002-0002-0002-000000000002",
      "name": "Call: Lead Capture + Qualification",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [-1140, 300],
      "notes": "PASTE_WORKFLOW_01_ID_HERE ko replace karo — jab Workflow 01 import ho jaye, uska ID n8n ke URL mein dikhega (workflow/XXXXX). Yeh copy karke yahan daalna hai."
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            { "id": "c1", "leftValue": "={{ $json.lead_tier }}", "rightValue": "HOT", "operator": { "type": "string", "operation": "equals" } }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0a1a1a1a-0003-0003-0003-000000000003",
      "name": "Lead is HOT?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-880, 300]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": { "__rl": true, "value": "PASTE_WORKFLOW_06_ID_HERE", "mode": "id" },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $json.session_id }}",
            "area": "={{ $json.area }}",
            "language": "english",
            "lead_tier": "={{ $json.lead_tier }}"
          }
        }
      },
      "id": "0a1a1a1a-0004-0004-0004-000000000004",
      "name": "Call: Agent Assignment",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [-620, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            { "id": "c1", "leftValue": "={{ $json.ready_to_qualify }}", "rightValue": true, "operator": { "type": "boolean", "operation": "true" } }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0a1a1a1a-0005-0005-0005-000000000005",
      "name": "Ready for Property Match?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-620, 420]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": { "__rl": true, "value": "PASTE_WORKFLOW_02_ID_HERE", "mode": "id" },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $json.session_id }}",
            "area": "={{ $json.area }}",
            "property_type": "={{ $json.property_type }}",
            "budget_aed": "={{ $json.budget_aed }}",
            "intent": "={{ $json.intent }}"
          }
        }
      },
      "id": "0a1a1a1a-0006-0006-0006-000000000006",
      "name": "Call: Property Matching",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [-360, 420]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"processed\", \"session_id\": $json.session_id } }}",
        "options": {}
      },
      "id": "0a1a1a1a-0007-0007-0007-000000000007",
      "name": "Final Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [-100, 300]
    }
  ],
  "connections": {
    "Single Entry Point (Webhook)": { "main": [[{ "node": "Call: Lead Capture + Qualification", "type": "main", "index": 0 }]] },
    "Call: Lead Capture + Qualification": { "main": [[{ "node": "Lead is HOT?", "type": "main", "index": 0 }]] },
    "Lead is HOT?": {
      "main": [
        [{ "node": "Call: Agent Assignment", "type": "main", "index": 0 }, { "node": "Ready for Property Match?", "type": "main", "index": 0 }],
        [{ "node": "Ready for Property Match?", "type": "main", "index": 0 }]
      ]
    },
    "Ready for Property Match?": {
      "main": [
        [{ "node": "Call: Property Matching", "type": "main", "index": 0 }],
        [{ "node": "Final Response", "type": "main", "index": 0 }]
      ]
    },
    "Call: Agent Assignment": { "main": [[{ "node": "Final Response", "type": "main", "index": 0 }]] },
    "Call: Property Matching": { "main": [[{ "node": "Final Response", "type": "main", "index": 0 }]] }
  },
  "pinData": {},
  "settings": { "executionOrder": "v1" },
  "meta": { "description": "Master Controller: single entry point that chains Workflow 01 (Lead Capture) -> conditionally Workflow 06 (Agent Assignment) and Workflow 02 (Property Matching) based on the lead's data. This is what makes the system feel like one product instead of 10 separate disconnected workflows. IMPORTANT: after importing workflows 01, 02, and 06, copy their workflow IDs from the n8n URL and paste them into the 'PASTE_WORKFLOW_XX_ID_HERE' placeholders in this file's executeWorkflow nodes." }
}
