workflows/03-followup-automation.json
{
  "name": "Workflow 4 - Follow-up Automation",
  "nodes": [
    {
      "parameters": { "rule": { "interval": [{ "field": "hours", "hoursInterval": 6 }] } },
      "id": "4a1a1a1a-0001-0001-0001-000000000001",
      "name": "Every 6 Hours Check",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-1200, 300],
      "notes": "Har 6 ghante mein CRM check karta hai kis lead ko follow-up bhejna hai."
    },
    {
      "parameters": {
        "documentId": { "__rl": true, "value": "104iVuCuI9jdMyLj8j7ytZkoC8NTE6gthVgJOmOKW9_8", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Leads", "mode": "name" }
      },
      "id": "4a1a1a1a-0002-0002-0002-000000000002",
      "name": "Read All Leads",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [-960, 300],
      "credentials": {
        "googleSheetsOAuth2Api": { "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID", "name": "Google Sheets account" }
      }
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst results = [];\n\nfor (const item of $input.all()) {\n  const lead = item.json;\n  if (!lead.timestamp || lead.status === 'Closed' || lead.status === 'Deal Closed') continue;\n\n  const leadDate = new Date(lead.timestamp);\n  const daysSince = Math.floor((now - leadDate) / (1000 * 60 * 60 * 24));\n\n  let stage = null;\n  if (daysSince === 1) stage = 'day1';\n  else if (daysSince === 3) stage = 'day3';\n  else if (daysSince === 7) stage = 'day7';\n  else if (daysSince === 30) stage = 'day30';\n\n  if (stage && lead.last_followup_stage !== stage) {\n    results.push({ json: { ...lead, followup_stage: stage } });\n  }\n}\n\nreturn results;"
      },
      "id": "4a1a1a1a-0003-0003-0003-000000000003",
      "name": "Find Leads Due for Follow-up",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-720, 300],
      "notes": "Sheet mein ek column 'last_followup_stage' add karo taake dobara same din follow-up na jaye."
    },
    {
      "parameters": {
        "url": "https://api.openai.com/v1/chat/completions",
        "method": "POST",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"model\": \"gpt-4o-mini\", \"temperature\": 0.5, \"messages\": [ { \"role\": \"system\", \"content\": \"Write a short warm WhatsApp follow-up message (2-3 sentences) for a Dubai real estate lead. Stage determines tone: day1 = share property suggestions reminder, day3 = check interest, day7 = mention new listings might be available, day30 = re-engagement / reactivation. Do not invent specific property names.\" }, { \"role\": \"user\", \"content\": \"=Stage: {{ $json.followup_stage }}. Customer wants {{ $json.property_type }} in {{ $json.area }}, budget AED {{ $json.budget_aed }}, intent {{ $json.intent }}\" } ] } }}",
        "options": {}
      },
      "id": "4a1a1a1a-0004-0004-0004-000000000004",
      "name": "Generate Follow-up Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-480, 300],
      "credentials": {
        "openAiApi": { "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID", "name": "OpenAI account" }
      }
    },
    {
      "parameters": {
        "operation": "sendEmail",
        "options": {},
        "toEmail": "={{ $('Find Leads Due for Follow-up').item.json.phone }}@sms-gateway-placeholder.com",
        "subject": "=Follow-up: {{ $('Find Leads Due for Follow-up').item.json.customer_name }}",
        "message": "={{ $json.choices[0].message.content }}"
      },
      "id": "4a1a1a1a-0005-0005-0005-000000000005",
      "name": "Send Follow-up (Email/WhatsApp)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [-240, 300],
      "credentials": {
        "gmailOAuth2": { "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID", "name": "Gmail account" }
      },
      "notes": "MVP mein Gmail se test karo. Production mein isko WhatsApp Business API (HTTP Request node) se replace karna, jaisa Workflow 1 mein 8a node tha."
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": { "__rl": true, "value": "104iVuCuI9jdMyLj8j7ytZkoC8NTE6gthVgJOmOKW9_8", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Leads", "mode": "name" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $('Find Leads Due for Follow-up').item.json.session_id }}",
            "last_followup_stage": "={{ $('Find Leads Due for Follow-up').item.json.followup_stage }}"
          }
        },
        "matchingColumns": ["session_id"],
        "options": {}
      },
      "id": "4a1a1a1a-0006-0006-0006-000000000006",
      "name": "Update Follow-up Stage",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [0, 300],
      "credentials": {
        "googleSheetsOAuth2Api": { "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID", "name": "Google Sheets account" }
      }
    }
  ],
  "connections": {
    "Every 6 Hours Check": { "main": [[{ "node": "Read All Leads", "type": "main", "index": 0 }]] },
    "Read All Leads": { "main": [[{ "node": "Find Leads Due for Follow-up", "type": "main", "index": 0 }]] },
    "Find Leads Due for Follow-up": { "main": [[{ "node": "Generate Follow-up Message", "type": "main", "index": 0 }]] },
    "Generate Follow-up Message": { "main": [[{ "node": "Send Follow-up (Email/WhatsApp)", "type": "main", "index": 0 }]] },
    "Send Follow-up (Email/WhatsApp)": { "main": [[{ "node": "Update Follow-up Stage", "type": "main", "index": 0 }]] }
  },
  "pinData": {},
  "settings": { "executionOrder": "v1" },
  "meta": { "description": "Workflow 4: Automatic follow-up on Day 1/3/7/30 for leads that haven't closed. Runs on a schedule, checks CRM, sends AI-generated follow-up message, updates stage." }
}
