workflows/04-calendar-appointment-booking.json
{
  "name": "Workflow 5 - Calendar & Appointment Booking",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            { "name": "session_id" },
            { "name": "customer_name" },
            { "name": "phone" },
            { "name": "preferred_date" },
            { "name": "preferred_time" },
            { "name": "area" }
          ]
        }
      },
      "id": "5a1a1a1a-0001-0001-0001-000000000001",
      "name": "Input: Viewing Request",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [-1200, 300],
      "notes": "Customer 'haan mujhe viewing chahiye' bole to Workflow 1 se yeh call hoga preferred_date/time ke saath."
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": { "__rl": true, "value": "primary", "mode": "list" },
        "timeMin": "={{ $json.preferred_date }}T00:00:00",
        "timeMax": "={{ $json.preferred_date }}T23:59:59",
        "options": {}
      },
      "id": "5a1a1a1a-0002-0002-0002-000000000002",
      "name": "Check Agent Availability",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [-960, 300],
      "credentials": {
        "googleCalendarOAuth2Api": { "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID", "name": "Google Calendar account" }
      }
    },
    {
      "parameters": {
        "jsCode": "const trigger = $('Input: Viewing Request').item.json;\nconst existingEvents = $input.all().map(i => i.json);\n\nconst requestedStart = new Date(`${trigger.preferred_date}T${trigger.preferred_time}`);\nconst requestedEnd = new Date(requestedStart.getTime() + 60 * 60 * 1000); // 1 hour slot\n\nconst hasConflict = existingEvents.some(ev => {\n  const evStart = new Date(ev.start?.dateTime || ev.start);\n  const evEnd = new Date(ev.end?.dateTime || ev.end);\n  return requestedStart < evEnd && requestedEnd > evStart;\n});\n\nreturn {\n  json: {\n    ...trigger,\n    slot_available: !hasConflict,\n    requested_start: requestedStart.toISOString(),\n    requested_end: requestedEnd.toISOString()\n  }\n};"
      },
      "id": "5a1a1a1a-0003-0003-0003-000000000003",
      "name": "Check Slot Conflict",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-720, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            { "id": "c1", "leftValue": "={{ $json.slot_available }}", "rightValue": true, "operator": { "type": "boolean", "operation": "true" } }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5a1a1a1a-0004-0004-0004-000000000004",
      "name": "Slot Available?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-480, 300]
    },
    {
      "parameters": {
        "calendar": { "__rl": true, "value": "primary", "mode": "list" },
        "start": "={{ $json.requested_start }}",
        "end": "={{ $json.requested_end }}",
        "additionalFields": {
          "summary": "=Property Viewing - {{ $json.customer_name }} ({{ $json.area }})",
          "description": "=Phone: {{ $json.phone }}\\nArea: {{ $json.area }}\\nBooked via AI Sales Employee"
        }
      },
      "id": "5a1a1a1a-0005-0005-0005-000000000005",
      "name": "Create Calendar Event",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [-240, 200],
      "credentials": {
        "googleCalendarOAuth2Api": { "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID", "name": "Google Calendar account" }
      }
    },
    {
      "parameters": {
        "operation": "sendEmail",
        "options": {},
        "toEmail": "YOUR_AGENT_EMAIL@example.com",
        "subject": "=New Viewing Booked: {{ $json.summary }}",
        "message": "=Customer: {{ $('Check Slot Conflict').item.json.customer_name }}\\nPhone: {{ $('Check Slot Conflict').item.json.phone }}\\nDate/Time: {{ $('Check Slot Conflict').item.json.requested_start }}"
      },
      "id": "5a1a1a1a-0006-0006-0006-000000000006",
      "name": "Notify Agent",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [0, 200],
      "credentials": {
        "gmailOAuth2": { "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID", "name": "Gmail account" }
      }
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            { "id": "o1", "name": "booking_status", "type": "string", "value": "confirmed" },
            { "id": "o2", "name": "confirmed_time", "type": "string", "value": "={{ $('Check Slot Conflict').item.json.requested_start }}" }
          ]
        },
        "options": {}
      },
      "id": "5a1a1a1a-0007-0007-0007-000000000007",
      "name": "Output: Confirmed",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [240, 200]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            { "id": "o1", "name": "booking_status", "type": "string", "value": "slot_unavailable" },
            { "id": "o2", "name": "message", "type": "string", "value": "Requested slot is taken. Please suggest an alternative time to the customer." }
          ]
        },
        "options": {}
      },
      "id": "5a1a1a1a-0008-0008-0008-000000000008",
      "name": "Output: Slot Taken",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-240, 420]
    }
  ],
  "connections": {
    "Input: Viewing Request": { "main": [[{ "node": "Check Agent Availability", "type": "main", "index": 0 }]] },
    "Check Agent Availability": { "main": [[{ "node": "Check Slot Conflict", "type": "main", "index": 0 }]] },
    "Check Slot Conflict": { "main": [[{ "node": "Slot Available?", "type": "main", "index": 0 }]] },
    "Slot Available?": {
      "main": [
        [{ "node": "Create Calendar Event", "type": "main", "index": 0 }],
        [{ "node": "Output: Slot Taken", "type": "main", "index": 0 }]
      ]
    },
    "Create Calendar Event": { "main": [[{ "node": "Notify Agent", "type": "main", "index": 0 }]] },
    "Notify Agent": { "main": [[{ "node": "Output: Confirmed", "type": "main", "index": 0 }]] }
  },
  "pinData": {},
  "settings": { "executionOrder": "v1" },
  "meta": { "description": "Workflow 5: Checks agent's Google Calendar availability, books a property viewing if the slot is free, notifies the agent, and returns confirmation (or a 'slot taken' message for the AI to relay back to the customer)." }
}
