workflows/05-deal-pipeline-crm.json
{
  "name": "Workflow 6 - Deal Pipeline Management",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            { "name": "session_id" },
            { "name": "new_status" }
          ]
        }
      },
      "id": "6a1a1a1a-0001-0001-0001-000000000001",
      "name": "Input: Status Update",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [-1000, 300],
      "notes": "new_status ek in values mein se hona chahiye: New Lead, Qualified, Property Interested, Viewing Scheduled, Viewing Completed, Negotiation, Closed Deal. Isko Workflow 5 (booking confirm hone par) ya manually agent CRM se call karega."
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": { "__rl": true, "value": "104iVuCuI9jdMyLj8j7ytZkoC8NTE6gthVgJOmOKW9_8", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Leads", "mode": "name" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $json.session_id }}",
            "status": "={{ $json.new_status }}",
            "status_updated_at": "={{ new Date().toISOString() }}"
          }
        },
        "matchingColumns": ["session_id"],
        "options": {}
      },
      "id": "6a1a1a1a-0002-0002-0002-000000000002",
      "name": "Update Pipeline Stage",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [-760, 300],
      "credentials": {
        "googleSheetsOAuth2Api": { "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID", "name": "Google Sheets account" }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            { "id": "c1", "leftValue": "={{ $json.new_status }}", "rightValue": "Closed Deal", "operator": { "type": "string", "operation": "equals" } }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6a1a1a1a-0003-0003-0003-000000000003",
      "name": "Is Deal Closed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-520, 300]
    },
    {
      "parameters": {
        "operation": "sendEmail",
        "options": {},
        "toEmail": "YOUR_AGENT_EMAIL@example.com",
        "subject": "🎉 Deal Closed!",
        "message": "=Congratulations! Lead {{ $json.session_id }} has been marked as Closed Deal."
      },
      "id": "6a1a1a1a-0004-0004-0004-000000000004",
      "name": "Celebrate + Notify Owner",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [-280, 200],
      "credentials": {
        "gmailOAuth2": { "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID", "name": "Gmail account" }
      }
    },
    {
      "parameters": {
        "operation": "sendEmail",
        "options": {},
        "toEmail": "YOUR_AGENT_EMAIL@example.com",
        "subject": "=Pipeline Update: {{ $json.session_id }}",
        "message": "=Lead {{ $json.session_id }} moved to stage: {{ $json.new_status }}"
      },
      "id": "6a1a1a1a-0005-0005-0005-000000000005",
      "name": "Notify Stage Change",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [-280, 420],
      "credentials": {
        "gmailOAuth2": { "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID", "name": "Gmail account" }
      },
      "notes": "Optional — chaho to isko delete kar sakte ho agar har stage change pe alert nahi chahiye, sirf Closed Deal pe."
    }
  ],
  "connections": {
    "Input: Status Update": { "main": [[{ "node": "Update Pipeline Stage", "type": "main", "index": 0 }]] },
    "Update Pipeline Stage": { "main": [[{ "node": "Is Deal Closed?", "type": "main", "index": 0 }]] },
    "Is Deal Closed?": {
      "main": [
        [{ "node": "Celebrate + Notify Owner", "type": "main", "index": 0 }],
        [{ "node": "Notify Stage Change", "type": "main", "index": 0 }]
      ]
    }
  },
  "pinData": {},
  "settings": { "executionOrder": "v1" },
  "meta": { "description": "Workflow 6: Updates a lead's pipeline stage (New Lead -> Qualified -> Property Interested -> Viewing Scheduled -> Viewing Completed -> Negotiation -> Closed Deal) in the CRM and notifies accordingly." }
}
