workflows/07-notifications-service.json
{
  "name": "Workflow 07 - Notifications Service",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            { "name": "channel" },
            { "name": "recipient_email" },
            { "name": "recipient_phone" },
            { "name": "subject" },
            { "name": "message" },
            { "name": "priority" }
          ]
        }
      },
      "id": "7a1a1a1a-0001-0001-0001-000000000001",
      "name": "Input: Notification Request",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [-900, 300],
      "notes": "Koi bhi workflow (1,3,4,5,6,9) yahan call kar sakta hai — ek hi jagah se sab notifications jaate hain, taake logic duplicate na ho har workflow mein."
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            { "id": "c1", "leftValue": "={{ $json.channel }}", "rightValue": "whatsapp", "operator": { "type": "string", "operation": "equals" } }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7a1a1a1a-0002-0002-0002-000000000002",
      "name": "Route by Channel",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-660, 300]
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v20.0/YOUR_PHONE_NUMBER_ID/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"messaging_product\": \"whatsapp\", \"to\": $json.recipient_phone, \"type\": \"text\", \"text\": { \"body\": $json.message } } }}",
        "options": {}
      },
      "id": "7a1a1a1a-0003-0003-0003-000000000003",
      "name": "Send via WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-420, 200]
    },
    {
      "parameters": {
        "operation": "sendEmail",
        "options": {},
        "toEmail": "={{ $json.recipient_email }}",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.message }}"
      },
      "id": "7a1a1a1a-0004-0004-0004-000000000004",
      "name": "Send via Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [-420, 420],
      "credentials": {
        "gmailOAuth2": { "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID", "name": "Gmail account" }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": { "__rl": true, "value": "104iVuCuI9jdMyLj8j7ytZkoC8NTE6gthVgJOmOKW9_8", "mode": "id" },
        "sheetName": { "__rl": true, "value": "NotificationLog", "mode": "name" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "sent_at": "={{ new Date().toISOString() }}",
            "channel": "={{ $json.channel }}",
            "recipient": "={{ $json.recipient_email || $json.recipient_phone }}",
            "subject": "={{ $json.subject }}",
            "priority": "={{ $json.priority }}"
          }
        },
        "matchingColumns": ["sent_at"],
        "options": {}
      },
      "id": "7a1a1a1a-0005-0005-0005-000000000005",
      "name": "Log Notification",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [-160, 300],
      "credentials": {
        "googleSheetsOAuth2Api": { "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID", "name": "Google Sheets account" }
      },
      "notes": "Naya sheet tab 'NotificationLog' banao — audit trail ke liye ke kab kisko kya bheja gaya."
    }
  ],
  "connections": {
    "Input: Notification Request": { "main": [[{ "node": "Route by Channel", "type": "main", "index": 0 }]] },
    "Route by Channel": {
      "main": [
        [{ "node": "Send via WhatsApp", "type": "main", "index": 0 }],
        [{ "node": "Send via Email", "type": "main", "index": 0 }]
      ]
    },
    "Send via WhatsApp": { "main": [[{ "node": "Log Notification", "type": "main", "index": 0 }]] },
    "Send via Email": { "main": [[{ "node": "Log Notification", "type": "main", "index": 0 }]] }
  },
  "pinData": {},
  "settings": { "executionOrder": "v1" },
  "meta": { "description": "Workflow 07: Centralized notification service. Every other workflow calls this instead of duplicating WhatsApp/Email-sending logic. Logs every notification sent for audit purposes." }
}
