workflows/10-knowledge-base-sync.json
{
  "name": "Workflow 10 - Property Knowledge Base Sync",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "kb-sync",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "10a1a1a1-0001-0001-0001-000000000001",
      "name": "Manual/Scheduled Sync Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-1000, 300],
      "notes": "Agent naya property listing daalta hai (Google Sheet 'NewListings' tab mein), phir yeh webhook call karta hai (ya isko Schedule Trigger se replace kar sakte ho — har raat automatically chale)."
    },
    {
      "parameters": {
        "documentId": { "__rl": true, "value": "104iVuCuI9jdMyLj8j7ytZkoC8NTE6gthVgJOmOKW9_8", "mode": "id" },
        "sheetName": { "__rl": true, "value": "NewListings", "mode": "name" }
      },
      "id": "10a1a1a1-0002-0002-0002-000000000002",
      "name": "Read New Listings (Sheet)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [-760, 300],
      "credentials": {
        "googleSheetsOAuth2Api": { "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID", "name": "Google Sheets account" }
      },
      "notes": "Agent ke liye Google Sheet mein naya listing daalna Supabase se zyada aasan hai — is workflow ka kaam hai use automatically Supabase mein push karna."
    },
    {
      "parameters": {
        "operation": "upsert",
        "tableId": "properties",
        "columns": "project_name,developer,area,property_type,bedrooms,price_aed,payment_options,status",
        "options": {}
      },
      "id": "10a1a1a1-0003-0003-0003-000000000003",
      "name": "Sync to Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [-520, 300],
      "credentials": {
        "supabaseApi": { "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID", "name": "Supabase account" }
      }
    },
    {
      "parameters": {
        "operation": "clear",
        "documentId": { "__rl": true, "value": "104iVuCuI9jdMyLj8j7ytZkoC8NTE6gthVgJOmOKW9_8", "mode": "id" },
        "sheetName": { "__rl": true, "value": "NewListings", "mode": "name" }
      },
      "id": "10a1a1a1-0004-0004-0004-000000000004",
      "name": "Clear Processed Rows",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [-280, 300],
      "credentials": {
        "googleSheetsOAuth2Api": { "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID", "name": "Google Sheets account" }
      },
      "notes": "Optional — ya isko delete kar sakte ho agar 'NewListings' ko permanent log rakhna ho."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"synced\", \"count\": $items().length } }}",
        "options": {}
      },
      "id": "10a1a1a1-0005-0005-0005-000000000005",
      "name": "Confirm Sync",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [-40, 300]
    }
  ],
  "connections": {
    "Manual/Scheduled Sync Trigger": { "main": [[{ "node": "Read New Listings (Sheet)", "type": "main", "index": 0 }]] },
    "Read New Listings (Sheet)": { "main": [[{ "node": "Sync to Supabase", "type": "main", "index": 0 }]] },
    "Sync to Supabase": { "main": [[{ "node": "Clear Processed Rows", "type": "main", "index": 0 }]] },
    "Clear Processed Rows": { "main": [[{ "node": "Confirm Sync", "type": "main", "index": 0 }]] }
  },
  "pinData": {},
  "settings": { "executionOrder": "v1" },
  "meta": { "description": "Workflow 10: Lets agents add new listings in a simple Google Sheet tab, then syncs them into the Supabase properties table used by Workflow 02 (Property Matching). Keeps the knowledge base fresh without agents needing Supabase access." }
}
